<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Netflix</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Main Css -->
    <link rel="stylesheet" href="./src/Css/netflix.css">

    <!-- Main Js -->
    <script src="./src/js/netflix.js" defer></script>


</head>

<body>

    <header>
        <a href="netflix.html">
            <img src="./Images/netflixLogo.png" alt="netflixLogo" id="netflixLogo"></a>

        <button id="signOut"><a href="index.html" id="signOutText">Sign Out</a>
        </button>
    </header>

    <main>

        <div id="app">
            <div class="trailer">
                <iframe src="https://www.youtube.com/embed/GN_IwBptKi4?autoplay=0&controls=0&modestbranding=1"
                    title="Day Shift | Jamie Foxx, Dave Franco, and Snoop Dogg | Official Trailer | Netflix"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    id="trailerVideo"></iframe>
            </div>

            <div class="catergories">
                <ul><a href="#Popular" class="catergoryItem">Popular on Netflix</a></ul>
                <ul><a href="#Action" class="catergoryItem">Action</a></ul>
                <ul><a href="#Drama" class="catergoryItem">Drama</a></ul>
                <ul><a href="#Comedy" class="catergoryItem">Comedy</a></ul>
                <ul><a href="#Kids" class="catergoryItem">Kids</a></ul>
            </div>

            <!-- <div v-for="(event, index)">
                <img :src="event.Image" alt="Movie Images">
                <div>{{Title}}</div>
                <div>{{event.Genre}}</div>
                <div>{{Description}}</div>
            </div> -->

            <!-- Slide 1 -->
            <h1 id="Popular">Popular on Netflix</h1>

            <div v-for="(event, index) in movies">
                <img :src="event.image" alt="Movie Images" class="movieImages">
                <!-- <h2 >{{event.Title}}</h2>
                <h3 >{{event.Genre}}</h3>
                <p >{{event.Description}}</p> -->
                <button class="addBtn">Add</button>
            </div>

            <!-- Slide 2 ACTION -->
            <h1 id="Action">Action</h1>

            <!-- Slide 3 DRAMA -->
            <h1 id="Drama">Drama</h1>

            <!-- Slide 4 COMEDY -->
            <h1 id="Comedy">Comedy</h1>

            <!-- Slide 5 KIDS -->
            <h1 id="Kids">Kids</h1>

            <button @click="moviesNames">Check Console</button>


            <button><a href="watchlist.html">Watchlist</a></button>

        </div>

    </main>

    <!-- Vue Links that work -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>

</body>

</html>