<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Netflix</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Main Css -->
    <link rel="stylesheet" href="./src/Css/netflix.css">

    <!-- Main Js -->
    <script src="./src/js/netflix.js" defer></script>


</head>

<body>

    <header>
        <a href="netflix.html">
            <img src="./Images/netflixLogo.png" alt="netflixLogo" id="netflixLogo"></a>

        <button id="signOut"><a href="index.html" id="signOutText">Sign Out</a>
        </button>
    </header>

    <main>

        <div id="app">
            <div class="trailer">
                <iframe src="https://www.youtube.com/embed/GN_IwBptKi4?autoplay=0&controls=0&modestbranding=1"
                    title="Day Shift | Jamie Foxx, Dave Franco, and Snoop Dogg | Official Trailer | Netflix"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    id="trailerVideo"></iframe>
            </div>

            <div class="catergories">
                <ul><a href="#Popular" class="catergoryItem">Popular on Netflix</a></ul>
                <ul><a href="#Action" class="catergoryItem">Action</a></ul>
                <ul><a href="#Drama" class="catergoryItem">Drama</a></ul>
                <ul><a href="#Comedy" class="catergoryItem">Comedy</a></ul>
                <ul><a href="#Kids" class="catergoryItem">Kids</a></ul>
            </div>

            <div class="search-box">
                <form>
                    <input id="searchText" v-model="searchInput.searchText" type="text"
                        placeholder="What are you looking for?">
                    <button id="searchButton" @click="theSearch">Search</button>
                </form>
            </div>

            <button id="watchlistBtn"><a href="watchlist.html" id="watchlist">Watchlist</a></button>

            <!-- Slide 1 -->
            <div class="row">
                <h1 id="ComingSoon">Coming Soon</h1>
                <div class="horizontalDisplayClass">
                    <div v-for="(event, index) in movies" class="movieDisplay">
                        <a class="movie-link">
                            <div>
                                <img :src="event.image" alt="Movie Images" class="movieImages">
                                <div><button class="addBtn" @click="addToWatchList(event)">Add</button></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Slide 2 ACTION -->
            <div class="row">
                <h1 id="Action">Action</h1>
                <div class="horizontalDisplayClass">
                    <div v-for="(event, index) in movies" class="movieDisplay">
                        <a class="movie-link">
                            <div>
                                <img :src="event.image" alt="Movie Images" class="movieImages">
                                <div><button class="addBtn" @click="addToWatchList">Add</button></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Slide 3 DRAMA -->
            <div class="row">
                <h1 id="Drama">Drama</h1>
                <div class="horizontalDisplayClass">
                    <div v-for="(event, index) in movies" class="movieDisplay">
                        <a class="movie-link">
                            <div>
                                <img :src="event.image" alt="Movie Images" class="movieImages">
                                <div><button class="addBtn" @click="addToWatchList(event)">Add</button></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Slide 4 COMEDY -->
            <div class="row">
                <h1 id="Comedy">Comedy</h1>
                <div class="horizontalDisplayClass">
                    <div v-for="(event, index) in movies" class="movieDisplay">
                        <a class="movie-link">
                            <div>
                                <img :src="event.image" alt="Movie Images" class="movieImages">
                                <div><button class="addBtn" @click="addToWatchList">Add</button></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Slide 5 KIDS -->
            <div class="row">
                <h1 id="Kids">Kids</h1>
                <div class="horizontalDisplayClass">
                    <div v-for="(event, index) in movies" class="movieDisplay">
                        <a class="movie-link">
                            <div>
                                <img :src="event.image" alt="Movie Images" class="movieImages">
                                <div><button class="addBtn" @click="addToWatchList">Add</button></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </main>

    <!-- Vue Links that work -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>

</body>

</html>