<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Netflix</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Main Css -->
    <link rel="stylesheet" href="./src/css/netflix.css">

    <!-- Main Js -->
    <script src="./src/js/netflix.js" defer></script>


</head>

<body>

    <div id="app">
        <header>
            <a href="netflix.html">
                <img src="./src/Images/netflixLogo.png" alt="netflixLogo" id="netflixLogo"></a>

            <button id="signOut"><a href="index.html" id="signOutText">Sign Out</a>
            </button>
        </header>

        <main>

            <!-- Youtube trailer Video -->
            <div class="trailer">
                <iframe src="https://www.youtube.com/embed/GN_IwBptKi4?autoplay=0&controls=0&modestbranding=1"
                    title="Day Shift | Jamie Foxx, Dave Franco, and Snoop Dogg | Official Trailer | Netflix"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    id="trailerVideo"></iframe>
            </div>

            <!-- Links to Genre Catergory -->
            <div class="catergories">
                <ul><a href="#Popular" class="catergoryItem">Popular on Netflix</a></ul>
                <ul><a href="#Action" class="catergoryItem">Action</a></ul>
                <ul><a href="#Drama" class="catergoryItem">Drama</a></ul>
                <ul><a href="#Comedy" class="catergoryItem">Comedy</a></ul>
                <ul><a href="#Kids" class="catergoryItem">Kids</a></ul>
            </div>

            <!-- Searchbox -->
            <div class="search-box">
                <form>
                    <input id="searchText" v-model="searchInput.searchText" type="text"
                        placeholder="What are you looking for?">
                    <input type="button" value="Search" id="searchButton" @click="theSearch">
                </form>
            </div>

            <!-- Button to Watch list -->
            <button id="watchlistBtn"><a href="watchList.html" id="watchlist">Watchlist</a></button>

            <!-- Movies that are being searched Slide -->
            <div v-show="!searched" class="row">
                <span></span>
            </div>

            <!-- Template for searched movie slide -->
            <div v-show="searched" class="row">
                <h1>We Searched For:</h1>
                <div class="searchedDisplay">
                    <div v-for="(event, index) in filteredMoviesTitle">
                        <div class="searchDisplayMovies">
                            <img :src="event.image" alt="Movie Images">
                            <div><button class="addBtn" @click="addToWatchList(event)">Add</button></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide 1 -->
            <div class="row">
                <h1 id="ComingSoon">Coming Soon</h1>
                <div class="horizontalDisplayClass">
                    <div v-for="(event, index) in filteredMoviesComingSoon" class="movieDisplay">
                        <a class="movie-link">
                            <div>
                                <img :src="event.image" alt="Movie Images" class="movieImages">
                                <div><button class="addBtn" @click="addToWatchList(event)">Add</button></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Slide 2 ACTION -->
            <div class="row">
                <h1 id="Action">Action</h1>
                <div class="horizontalDisplayClass">
                    <div v-for="(event, index) in filteredMoviesAction" class="movieDisplay">
                        <a class="movie-link">
                            <div>
                                <img :src="event.image" alt="Movie Images" class="movieImages">
                                <div><button class="addBtn" @click="addToWatchList">Add</button></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Slide 3 DRAMA -->
            <div class="row">
                <h1 id="Drama">Drama</h1>
                <div class="horizontalDisplayClass">
                    <div v-for="(event, index) in filteredMoviesDrama" class="movieDisplay">
                        <a class="movie-link">
                            <div>
                                <img :src="event.image" alt="Movie Images" class="movieImages">
                                <div><button class="addBtn" @click="addToWatchList(event)">Add</button></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Slide 4 COMEDY -->
            <div class="row">
                <h1 id="Comedy">Comedy</h1>
                <div class="horizontalDisplayClass">
                    <div v-for="(event, index) in filteredMoviesComedy" class="movieDisplay">
                        <a class="movie-link">
                            <div>
                                <img :src="event.image" alt="Movie Images" class="movieImages">
                                <div><button class="addBtn" @click="addToWatchList">Add</button></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Slide 5 KIDS -->
            <div class="row">
                <h1 id="Kids">Kids</h1>
                <div class="horizontalDisplayClass">
                    <div v-for="(event, index) in filteredMoviesKids" class="movieDisplay">
                        <a class="movie-link">
                            <div>
                                <img :src="event.image" alt="Movie Images" class="movieImages">
                                <div><button class="addBtn" @click="addToWatchList">Add</button></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </main>

        <footer>

            <div class="pictureEl">
                <div>
                    <picture>
                        <source media="(min-width: 900px)" srcset="./src/Images/footerBg2.jpg" class="footerImg">
                        <source media="(min-width: 768px)" srcset="./src/Images/footerBg1.jpg" class="footerImg">
                        <img src="./src/Images/footerBg.jpg" alt="Netflix Image" class="footerImg">
                    </picture>
                </div>

                <!-- Info On The Company -->
                <div>
                    <h3>Netflix, Inc. is an American subscription streaming service and production company. Launched on
                        August 29, 1997, it offers a film and television series library through distribution deals as
                        well as its own productions, known as Netflix Originals. </h3>

                    <h4>Founded:</h4>
                    <p>29 August 1997</p>

                    <h4>Founders: </h4>
                    <p>Reed Hastings, Marc Randolph</p>

                    <h4>CEO: </h4>
                    <p>Reed Hastings (Sept 1998–) , Ted Sarandos (14 Jul 2020–)</p>

                </div>

            </div>

        </footer>

    </div>

    <!-- Vue Links that work -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>

</body>

</html>