*{box-sizing: border-box;}

body{
    margin: 0%;
    background-color: rgb(29, 27, 27);
    color: #fff;
}

#netflixLogo{
    position: fixed;
    width: 150px;
    margin: 20px;
    opacity: 60%;
}

#signOut{
    background: #e50914;
    position: fixed;
    top: 3%;
    right: 2%;
    border-radius: 4px;
    padding: 4px 17px;
    outline: none;
    border: none;
}

#signOutText{
    color: #fff;
    text-decoration: none;
}

#trailerVideo{
    width: 100%;
    height: 80vh;
    background-image: url("/Images/videoImage.jpeg");
}

.catergories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.catergoryItem{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    padding: 10px;
    border-radius: 4px;
    margin-top: 1%;
}

.catergoryItem:hover{
    color: grey;
}

.carousel-inner{
    display: flex;
    margin-left: 1%;
    overflow-y: hidden;
    overflow-x: scroll;
}

.movieImages{
    display: flex;
    margin-bottom: 1%;
}

.addBtn{
    margin-bottom: 1%;
    margin-left: 10%;
}

.movieItem{
    padding: 2px;
}

.carouselSlide{
    margin-bottom: 5%;
}

h1{
    margin-left: 1%;
}