*{box-sizing: border-box;}

body{
    margin: 0%;
    background-color: rgb(29, 27, 27);
    color: #fff;
}

#netflixLogo{
    width: 150px;
    margin: 20px;
}

#profilePicture{
    height: 100px;
    text-align: center;
}

.title{
    text-align: center;
    margin-top: 10%;
}